/* Custom Styles */

/* Override Base HTML Styles */
html {
  color: #f4f4f4;
  font-family: "AngsanaUPC", serif;
  background-color: #000000;
}

/* Custom Header with Background Image and Vignette */
.custom-header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.8) 100%),
  url('/img/GIF.gif'); /* Der Pfad zu deinem Bild */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 589px; /* Die exakte Höhe des Bildes */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #000000;
}



.header-overlay {
  background: rgba(0, 0, 0, 0.2); /* Adds a dark overlay for better text readability */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  font-family: "AngsanaUPC", serif;
  font-size: 3em;
  color: #d4af37;
  text-shadow: 0 0 10px #FFF, 0 0 15px #18ffae;
}




.main-menu {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.05) 100%);
  font-family: "AngsanaUPC", serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  z-index: 100; /* Setze einen z-index für das Hauptmenü */
}


.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

/* Styling für die Hauptmenüpunkte */
.main-menu ul li {
  margin: 20px;
  position: relative; /* Wichtig für das Dropdown */
  transition: transform 0.3s ease, text-shadow 0.3s ease;
  z-index: 10; /* Sicherstellen, dass die Menüpunkte oben bleiben */
}

/* Vergrößerung und Glüheffekt bei Hover */
.main-menu ul li:hover {
  transform: scale(1.5);
  text-shadow: 0 0 5px #00ffda, 0 0 10px rgba(21, 161, 135, 0.74),
  0 0 15px rgba(21, 161, 135, 0.74), 0 0 20px #00fff7,
  0 0 30px rgba(34, 97, 70, 0), 0 0 40px #49FF18,
  0 0 55px rgba(34, 97, 70, 0), 0 0 75px rgba(34, 97, 70, 0);
}

/* Styling für die Links in den Hauptmenüpunkten */
.main-menu ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.8em;
  transition: color 0.3s ease-in-out;
}

.main-menu ul li a:hover {
  color: #fff;
}

/* Dropdown menu styling */
.dropdown-content {
  font-size: 10px;
  max-height: 0;
  overflow: hidden;
  background-color: #333;

  position: absolute;
  min-width: 300px;
  z-index: 9999; /* Hoher z-index für das Dropdown-Menü, damit es über anderen Elementen bleibt */
  list-style-type: none;
  padding: 10px;
  display: none;
  transition: max-height 0.5s ease-in-out;

  /* Hintergrundbild */
  background-image: url('/img/buttons/but1.gif');
  background-size: cover;
  background-position: center;

  /* Overlay für Opazität */
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;

  /* Runde Ecken und Glüheffekt */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}


/* Dropdown-Menüpunkte */
.dropdown-content li {
  display: block;
}

/* Styling für Links in der Dropdown-Liste */
.dropdown-content a {
  padding: 12px 16px;

  color: white;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

/* Hover-Effekt für die Links in der Dropdown-Liste */
.dropdown-content a:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px #00ffda, 0 0 10px rgba(21, 161, 135, 0.74),
  0 0 15px rgba(21, 161, 135, 0.74), 0 0 20px #00fff7,
  0 0 30px rgba(34, 97, 70, 0), 0 0 40px #49FF18,
  0 0 55px rgba(34, 97, 70, 0), 0 0 75px rgba(34, 97, 70, 0);
}




.spacer2 {
  background-image: url('img/buttons/brk.jpg'); /* Stelle sicher, dass der Pfad korrekt ist */
  background-size: cover; /* Das Bild wird über die gesamte Breite und Höhe skaliert */
  background-position: center; /* Bild zentrieren */
  height: 50px; /* Höhe der Trennlinie */
  width: 100vw; /* Volle Breite des Bildschirms */
  margin: 0 auto; /* Zentriert die Trennlinie */
}



/* Grundlayout des Audio-Players */
.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Volle Breite */
  height: 100px; /* Passe die Höhe nach Bedarf an */
  background-image: url('/img/buttons/brk.jpg'); /* Der Pfad zu deinem Bild */
  background-size: cover; /* Das Bild wird über die gesamte Breite und Höhe skaliert */
  background-position: center; /* Bild zentrieren */
  background-repeat: no-repeat; /* Verhindert, dass das Bild wiederholt wird */
  z-index: 9999; /* Damit es immer über anderen Inhalten bleibt */
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5); /* Leuchtender Schatten */
  box-sizing: border-box;
  color: white; /* Textfarbe im Player */
  opacity: 0.4; /* Bildtransparenz */

}

.controls {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.play-btn, .mute-btn {
  background-color: black;
  border: 2px solid #00FFFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 0 15px #00FFFF, 0 0 30px #00FFFF;
  transition: all 0.3s ease;
}

.play-btn:hover, .mute-btn:hover {
  box-shadow: 0 0 25px #00FFFF, 0 0 50px #00FFFF;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 80%; /* Fortschrittsleiste füllt den Hauptteil der Breite */
  height: 5px;
  background: black;
  border-radius: 5px;
  outline: none;
  margin-left: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #00FFFF;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #00FFFF;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF;
}

#startAudio {
  background-color: #00ffff;
  color: #000;
  font-size: 1.5em;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
}

#startAudio:hover {
  background-color: #00c0c0;
}





.spacer {
  height: 240px; /* Höhe der schwarzen Fläche */
  font-stretch: expanded;
  font-size: 2em;
  font-weight: lighter;
  color: #000000;

  /* Mehr Innenabstand nach oben und unten für mehr Platz */
  padding: 20px 40px; /* 20px oben und unten, 40px links und rechts */

  border-radius: 10px; /* Optional: Runde Ecken */

  /* Volle Breite des Bildschirms */
  width: 100vw; /* 100% der Viewport-Breite */
  position: relative; /* Sicherstellen, dass das Element korrekt platziert wird */
  left: 0;
  box-sizing: border-box; /* Padding und border in die Breite einrechnen */
  text-align: center; /* Zentriere den Text */

  /* Hintergrundbild */
  background-image: url('/img/'); /* Stelle sicher, dass der Pfad korrekt ist */
  background-size: cover; /* Das Bild wird so skaliert, dass es den gesamten Bereich abdeckt */
  background-position: center; /* Zentriere das Bild, fixiert auf die Mitte */
  background-repeat: no-repeat; /* Verhindert, dass das Bild wiederholt wird */
  background-color: black; /* Fallback-Hintergrundfarbe */
}





/* Hero Section */
.hero {
  height: 100vh;
  background-image: url('/img/naraka/naraka2.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}



.hero-content h2 {
  font-stretch: expanded;
  margin-top: 380px;
  font-size: 2em;
  font-weight: lighter;
  color: #f4f4f4;
  text-shadow: 0 0 2px #FFFFFF, 0px 0px 2px #59EAFF, 0px 0px 8px #4C8FFF;


  /* Halbtransparenter Hintergrund über den gesamten Bildschirm */
  background-color: rgba(0, 0, 0, 0.8); /* Schwarzer Hintergrund mit 50% Transparenz */

  /* Mehr Innenabstand nach oben und unten für mehr Platz */
  padding: 20px 40px; /* 20px oben und unten, 40px links und rechts */

  border-radius: 10px; /* Optional: Runde Ecken */

  /* Volle Breite des Bildschirms */
  width: 100vw; /* 100% der Viewport-Breite */
  position: relative; /* Sicherstellen, dass das Element korrekt platziert wird */
  left: 0;
  box-sizing: border-box; /* Padding und border in die Breite einrechnen */
  text-align: center; /* Zentriere den Text */
}

.button {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: rgba(21, 161, 135, 0.74); /* Fallback background color */
  background-image: url('/img/but1.png'); /* Bild einfügen */
  background-size: cover; /* Bild auf die Button-Größe anpassen */
  background-position: center; /* Bild zentrieren */
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 30px;
  text-shadow: 0 0 1px #FFFFFF, 0px 0px 1px #59EAFF, 0px 0px 1px #4C8FFF;
  -webkit-box-shadow: rgba(21, 161, 135, 0.74) 0 -1px 4px, rgba(21, 161, 135, 0.74) 0 -2px 10px, rgba(21, 161, 135, 0.74) 0 -10px 20px, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: rgba(21, 161, 135, 0.74) 0 -1px 4px, rgba(21, 161, 135, 0.74) 0 -2px 10px, rgba(11, 82, 67, 0.74) 0 -10px 20px, 5px 5px 15px 5px rgba(0,0,0,0);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Setze explizit die Transformation und Box-Schatten für sanften Übergang */
  display: inline-block; /* Sicherstellen, dass der Button als Block-Level-Element funktioniert */
}

.button:hover {
  background-color: #f0c14b;
  cursor: pointer;
  -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
  color: #FFFFFF;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ff9318, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  transform: scale(1.5); /* Vergrößert den Button um 20% */

}

/* About Section */
.about-section {
  padding: 50px 20px;
  background-color: #1a1a1a;
  text-align: center;
}

.about-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #FFFFFF, 0px 0px 8px #59EAFF;
}

.about-section p {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto;
  color: #ccc;
}

/* Autor Section */
.autor-section {
  padding: 50px 20px;
  background-color: #2f2f2f;
  text-align: center;
}

.autor-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.autor-section p {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto;
  color: #ccc;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background-color: #000000;
  border-top: 2px solid #444;
}

footer p {
  font-size: 0.9em;
  color: #ccc;
}
